.card-image {
    width: 4rem;
    position: absolute;
    top: 30%;
    right: 10%;
}
/* card border */
.card_border {
    margin-left: -1px;
    border-radius: 2%;
    border-left: rgb(50, 50, 255) 4px solid;
}
